In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from google.colab import files
uploaded = files.upload()

Saving absenteeism.csv to absenteeism.csv

In [4]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['absenteeism.csv']))

In [5]:
df2.head(5)

   ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0  11                  26  ...               30                          4
1  36                   0  ...               31                          0
2   3                  23  ...               31                          2
3   7                   7  ...               24                          4
4  11                  23  ...               30                          2

[5 rows x 21 columns]

In [6]:
df2.tail()

     ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
735  11                  14  ...               30                          8
736   1                  11  ...               29                          4
737   4                   0  ...               34                          0
738   8                   0  ...               35                          0
739  35                   0  ...               25                          0

[5 rows x 21 columns]

In [ ]:
df2.shape

(740, 1)

In [4]:
from google.colab import files
uploaded = files.upload()

Saving absenteeism.csv to absenteeism.csv

In [8]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['absenteeism.csv']))

In [6]:
df2.head()

   ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0  11                  26  ...               30                          4
1  36                   0  ...               31                          0
2   3                  23  ...               31                          2
3   7                   7  ...               24                          4
4  11                  23  ...               30                          2

[5 rows x 21 columns]

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    object
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(20), object(1)
memory usage: 121.5+ KB

In [11]:
df2.tail()

     ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
735  11                  14  ...               30                          8
736   1                  11  ...               29                          4
737   4                   0  ...               34                          0
738   8                   0  ...               35                          0
739  35                   0  ...               25                          0

[5 rows x 21 columns]

In [12]:
df2.shape

(740, 21)

In [9]:
df2.isna() .sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [12]:
df2 = df2.dropna(axis=1)

In [13]:
df2.shape

(740, 21)

In [8]:
df2.mean()

ID                                  18.017568
Reason for absence                  19.216216
Month of absence                     6.324324
Day of the week                      3.914865
Seasons                              2.544595
Transportation expense             221.329730
Distance from Residence to Work     29.631081
Service time                        12.554054
Age                                 36.450000
Hit target                          94.587838
Disciplinary failure                 0.054054
Education                            1.291892
Son                                  1.018919
Social drinker                       0.567568
Social smoker                        0.072973
Pet                                  0.745946
Weight                              79.035135
Height                             172.114865
Body mass index                     26.677027
Absenteeism time in hours            6.924324
dtype: float64

In [7]:
df2.fillna(df2.mean())

     ID  Reason for absence  ...  Body mass index  Absenteeism time in hours
0    11                  26  ...               30                          4
1    36                   0  ...               31                          0
2     3                  23  ...               31                          2
3     7                   7  ...               24                          4
4    11                  23  ...               30                          2
..   ..                 ...  ...              ...                        ...
735  11                  14  ...               30                          8
736   1                  11  ...               29                          4
737   4                   0  ...               34                          0
738   8                   0  ...               35                          0
739  35                   0  ...               25                          0

[740 rows x 21 columns]

In [9]:
df2.corr()

                                       ID  ...  Absenteeism time in hours
ID                               1.000000  ...                  -0.017997
Reason for absence              -0.064245  ...                  -0.173116
Month of absence                -0.000043  ...                   0.024345
Day of the week                  0.034468  ...                  -0.124361
Seasons                          0.098495  ...                  -0.005615
Transportation expense          -0.224163  ...                   0.027585
Distance from Residence to Work -0.486160  ...                  -0.088363
Service time                    -0.272704  ...                   0.019029
Age                              0.040899  ...                   0.065760
Hit target                       0.018789  ...                   0.026695
Disciplinary failure             0.004502  ...                  -0.124248
Education                       -0.036254  ...                  -0.046235
Son                              0.002767  ...                   0.113756
Social drinker                  -0.451338  ...                   0.065067
Social smoker                   -0.010826  ...                  -0.008936
Pet                             -0.041418  ...                  -0.028277
Weight                          -0.254222  ...                   0.015789
Height                           0.076363  ...                   0.144420
Body mass index                 -0.306924  ...                  -0.049719
Absenteeism time in hours       -0.017997  ...                   1.000000

[20 rows x 20 columns]

In [19]:
df2.describe()

               ID  ...  Absenteeism time in hours
count  740.000000  ...                 740.000000
mean    18.017568  ...                   6.924324
std     11.021247  ...                  13.330998
min      1.000000  ...                   0.000000
25%      9.000000  ...                   2.000000
50%     18.000000  ...                   3.000000
75%     28.000000  ...                   8.000000
max     36.000000  ...                 120.000000

[8 rows x 20 columns]